In [2]:
import pandas as pd
import numpy as np

In [7]:
df_train = pd.DataFrame(pd.read_excel('data/car_train.xlsx'))
df_test = pd.DataFrame(pd.read_excel('data/car_test.xlsx'))

df_train = df_train.drop('Unnamed: 0', axis=1)
df_test = df_test.drop('Unnamed: 0', axis=1)

In [12]:
df_test

       x1   y1    x2   y2      image
0      30   52   246  147  00001.jpg
1     100   19   576  203  00002.jpg
2      51  105   968  659  00003.jpg
3      67   84   581  407  00004.jpg
4     140  151   593  339  00005.jpg
...   ...  ...   ...  ...        ...
8036   49   57  1169  669  08037.jpg
8037   23   18   640  459  08038.jpg
8038   33   27   602  252  08039.jpg
8039   33  142   521  376  08040.jpg
8040   77   73   506  380  08041.jpg

[8041 rows x 5 columns]

In [103]:
df_train[df_train['Class'] == 1]

       x1   y1    x2    y2  Class      image
162    46   84   661   428      1  00163.jpg
461     5    8    83    58      1  00462.jpg
521     6    7    94    68      1  00522.jpg
706    26   32   677   418      1  00707.jpg
772    33   50   197   150      1  00773.jpg
886     6    9   124    89      1  00887.jpg
945    48   24   441   202      1  00946.jpg
1276    1    5   160    89      1  01277.jpg
1660  178  214   901   658      1  01661.jpg
1831   29   18   157    86      1  01832.jpg
1917    8    3   135    86      1  01918.jpg
1951   11   31   490   266      1  01952.jpg
2049   30   65   331   199      1  02050.jpg
2144  112    7   853   717      1  02145.jpg
2310   56    1   394   176      1  02311.jpg
2362   26   25   283   157      1  02363.jpg
2847   51   73   570   426      1  02848.jpg
3007   13  235  2021  1253      1  03008.jpg
3392  125  645  1845  1421      1  03393.jpg
3942   50  127   587   396      1  03943.jpg
4055   28   48   663   302      1  04056.jpg
4543   18   18   328   190      1  04544.jpg
4577   21   18   492   316      1  04578.jpg
4668   61   98   458   376      1  04669.jpg
4826    7    4   277   180      1  04827.jpg
4873    9    1   152   103      1  04874.jpg
5029   60   76   593   393      1  05030.jpg
5223    5   14    93    58      1  05224.jpg
5656    5    8    91    59      1  05657.jpg
5753    4    9    96    88      1  05754.jpg
5803    4   15    94    63      1  05804.jpg
5920  111  213   907   683      1  05921.jpg
6051    9   14   490   368      1  06052.jpg
6158   86   81   371   252      1  06159.jpg
6173    1    1   300   179      1  06174.jpg
6261    6   20   123    88      1  06262.jpg
6832    3   23   132    98      1  06833.jpg
7024   52   25   751   507      1  07025.jpg
7278    1   13   113    83      1  07279.jpg
7289   15  111   271   272      1  07290.jpg
7486   20   48   385   283      1  07487.jpg
7683   14   18   148   107      1  07684.jpg
7965   79  469  1537  1198      1  07966.jpg
8010   10    6   250   110      1  08011.jpg
8030   12   16   117    71      1  08031.jpg

In [34]:
CN

      id                              name
0      1        AM General Hummer SUV 2000
1      2               Acura RL Sedan 2012
2      3               Acura TL Sedan 2012
3      4              Acura TL Type-S 2008
4      5              Acura TSX Sedan 2012
..   ...                               ...
191  192  Volkswagen Beetle Hatchback 2012
192  193          Volvo C30 Hatchback 2012
193  194              Volvo 240 Sedan 1993
194  195               Volvo XC90 SUV 2007
195  196     smart fortwo Convertible 2012

[196 rows x 2 columns]

In [69]:
CN

      id                              name
0      1        AM General Hummer SUV 2000
1      2               Acura RL Sedan 2012
2      3               Acura TL Sedan 2012
3      4              Acura TL Type-S 2008
4      5              Acura TSX Sedan 2012
..   ...                               ...
191  192  Volkswagen Beetle Hatchback 2012
192  193          Volvo C30 Hatchback 2012
193  194              Volvo 240 Sedan 1993
194  195               Volvo XC90 SUV 2007
195  196     smart fortwo Convertible 2012

[196 rows x 2 columns]

In [35]:
import tensorflow as tf
from tensorflow.keras import models, layers
import matplotlib.pyplot as plt

In [36]:
BATCH_SIZE = 32

In [124]:
dataset = tf.keras.preprocessing.image_dataset_from_directory(
    "images/cars_train",
    shuffle = True,
    batch_size = BATCH_SIZE
)

Found 8144 files belonging to 196 classes.

In [125]:
dataset.class_names

['AM_General_Hummer_SUV_2000',
 'Acura_Integra_Type_R_2001',
 'Acura_RL_Sedan_2012',
 'Acura_TL_Sedan_2012',
 'Acura_TL_Type-S_2008',
 'Acura_TSX_Sedan_2012',
 'Acura_ZDX_Hatchback_2012',
 'Aston_Martin_V8_Vantage_Convertible_2012',
 'Aston_Martin_V8_Vantage_Coupe_2012',
 'Aston_Martin_Virage_Convertible_2012',
 'Aston_Martin_Virage_Coupe_2012',
 'Audi_100_Sedan_1994',
 'Audi_100_Wagon_1994',
 'Audi_A5_Coupe_2012',
 'Audi_R8_Coupe_2012',
 'Audi_RS_4_Convertible_2008',
 'Audi_S4_Sedan_2007',
 'Audi_S4_Sedan_2012',
 'Audi_S5_Convertible_2012',
 'Audi_S5_Coupe_2012',
 'Audi_S6_Sedan_2011',
 'Audi_TTS_Coupe_2012',
 'Audi_TT_Hatchback_2011',
 'Audi_TT_RS_Coupe_2012',
 'Audi_V8_Sedan_1994',
 'BMW_1_Series_Convertible_2012',
 'BMW_1_Series_Coupe_2012',
 'BMW_3_Series_Sedan_2012',
 'BMW_3_Series_Wagon_2012',
 'BMW_6_Series_Convertible_2007',
 'BMW_ActiveHybrid_5_Sedan_2012',
 'BMW_M3_Coupe_2012',
 'BMW_M5_Sedan_2010',
 'BMW_M6_Convertible_2010',
 'BMW_X3_SUV_2012',
 'BMW_X5_SUV_2007',
 'BMW_X6_SUV_2012',
 'BMW_Z4_Convertible_2012',
 'Bentley_Arnage_Sedan_2009',
 'Bentley_Continental_Flying_Spur_Sedan_2007',
 'Bentley_Continental_GT_Coupe_2007',
 'Bentley_Continental_GT_Coupe_2012',
 'Bentley_Continental_Supersports_Conv._Convertible_2012',
 'Bentley_Mulsanne_Sedan_2011',
 'Bugatti_Veyron_16.4_Convertible_2009',
 'Bugatti_Veyron_16.4_Coupe_2009',
 'Buick_Enclave_SUV_2012',
 'Buick_Rainier_SUV_2007',
 'Buick_Regal_GS_2012',
 'Buick_Verano_Sedan_2012',
 'Cadillac_CTS-V_Sedan_2012',
 'Cadillac_Escalade_EXT_Crew_Cab_2007',
 'Cadillac_SRX_SUV_2012',
 'Chevrolet_Avalanche_Crew_Cab_2012',
 'Chevrolet_Camaro_Convertible_2012',
 'Chevrolet_Cobalt_SS_2010',
 'Chevrolet_Corvette_Convertible_2012',
 'Chevrolet_Corvette_Ron_Fellows_Edition_Z06_2007',
 'Chevrolet_Corvette_ZR1_2012',
 'Chevrolet_Express_Cargo_Van_2007',
 'Chevrolet_Express_Van_2007',
 'Chevrolet_HHR_SS_2010',
 'Chevrolet_Impala_Sedan_2007',
 'Chevrolet_Malibu_Hybrid_Sedan_2010',
 'Chevrolet_Malibu_Sedan_2007',
 'Chevrolet_Monte_Carlo_Coupe_2007',
 'Chevrolet_Silverado_1500_Classic_Extended_Cab_2007',
 'Chevrolet_Silverado_1500_Extended_Cab_2012',
 'Chevrolet_Silverado_1500_Hybrid_Crew_Cab_2012',
 'Chevrolet_Silverado_1500_Regular_Cab_2012',
 'Chevrolet_Silverado_2500HD_Regular_Cab_2012',
 'Chevrolet_Sonic_Sedan_2012',
 'Chevrolet_Tahoe_Hybrid_SUV_2012',
 'Chevrolet_TrailBlazer_SS_2009',
 'Chevrolet_Traverse_SUV_2012',
 'Chrysler_300_SRT-8_2010',
 'Chrysler_Aspen_SUV_2009',
 'Chrysler_Crossfire_Convertible_2008',
 'Chrysler_PT_Cruiser_Convertible_2008',
 'Chrysler_Sebring_Convertible_2010',
 'Chrysler_Town_and_Country_Minivan_2012',
 'Daewoo_Nubira_Wagon_2002',
 'Dodge_Caliber_Wagon_2007',
 'Dodge_Caliber_Wagon_2012',
 'Dodge_Caravan_Minivan_1997',
 'Dodge_Challenger_SRT8_2011',
 'Dodge_Charger_SRT-8_2009',
 'Dodge_Charger_Sedan_2012',
 'Dodge_Dakota_Club_Cab_2007',
 'Dodge_Dakota_Crew_Cab_2010',
 'Dodge_Durango_SUV_2007',
 'Dodge_Durango_SUV_2012',
 'Dodge_Journey_SUV_2012',
 'Dodge_Magnum_Wagon_2008',
 'Dodge_Ram_Pickup_3500_Crew_Cab_2010',
 'Dodge_Ram_Pickup_3500_Quad_Cab_2009',
 'Dodge_Sprinter_Cargo_Van_2009',
 'Eagle_Talon_Hatchback_1998',
 'FIAT_500_Abarth_2012',
 'FIAT_500_Convertible_2012',
 'Ferrari_458_Italia_Convertible_2012',
 'Ferrari_458_Italia_Coupe_2012',
 'Ferrari_California_Convertible_2012',
 'Ferrari_FF_Coupe_2012',
 'Fisker_Karma_Sedan_2012',
 'Ford_E-Series_Wagon_Van_2012',
 'Ford_Edge_SUV_2012',
 'Ford_Expedition_EL_SUV_2009',
 'Ford_F-150_Regular_Cab_2007',
 'Ford_F-150_Regular_Cab_2012',
 'Ford_F-450_Super_Duty_Crew_Cab_2012',
 'Ford_Fiesta_Sedan_2012',
 'Ford_Focus_Sedan_2007',
 'Ford_Freestar_Minivan_2007',
 'Ford_GT_Coupe_2006',
 'Ford_Mustang_Convertible_2007',
 'Ford_Ranger_SuperCab_2011',
 'GMC_Acadia_SUV_2012',
 'GMC_Canyon_Extended_Cab_2012',
 'GMC_Savana_Van_2012',
 'GMC_Terrain_SUV_2012',
 'GMC_Yukon_Hybrid_SUV_2012',
 'Geo_Metro_Convertible_1993',
 'HUMMER_H2_SUT_Crew_Cab_2009',
 'HUMMER_H3T_Crew_Cab_2010',
 'Honda_Accord_Coupe_2012',
 'Honda_Accord_Sedan_2012',
 'Honda_Odyssey_Minivan_2007',
 'Honda_Odyssey_Minivan_2012',
 'Hyundai_Accent_Sedan_2012',
 'Hyundai_Azera_Sedan_2012',
 'Hyundai_Elantra_Sedan_2007',
 'Hyundai_Elantra_Touring_Hatchback_2012',
 'Hyundai_Genesis_Sedan_2012',
 'Hyundai_Santa_Fe_SUV_2012',
 'Hyundai_Sonata_Hybrid_Sedan_2012',
 'Hyundai_Sonata_Sedan_2012',
 'Hyundai_Tucson_SUV_2012',
 'Hyundai_Veloster_Hatchback_2012',
 'Hyundai_Veracruz_SUV_2012',
 'Infiniti_G_Coupe_IPL_2012',
 'Infiniti_QX56_SUV_2011',
 'Isuzu_Ascender_SUV_2008',
 'Jaguar_XK_XKR_2012',
 'Jeep_Compass_SUV_2012',
 'Jeep_Grand_Cherokee_SUV_2012',
 'Jeep_Liberty_SUV_2012',
 'Jeep_Patriot_SUV_2012',
 'Jeep_Wrangler_SUV_2012',
 'Lamborghini_Aventador_Coupe_2012',
 'Lamborghini_Diablo_Coupe_2001',
 'Lamborghini_Gallardo_LP_570-4_Superleggera_2012',
 'Lamborghini_Reventon_Coupe_2008',
 'Land_Rover_LR2_SUV_2012',
 'Land_Rover_Range_Rover_SUV_2012',
 'Lincoln_Town_Car_Sedan_2011',
 'MINI_Cooper_Roadster_Convertible_2012',
 'Maybach_Landaulet_Convertible_2012',
 'Mazda_Tribute_SUV_2011',
 'McLaren_MP4-12C_Coupe_2012',
 'Mercedes-Benz_300-Class_Convertible_1993',
 'Mercedes-Benz_C-Class_Sedan_2012',
 'Mercedes-Benz_E-Class_Sedan_2012',
 'Mercedes-Benz_S-Class_Sedan_2012',
 'Mercedes-Benz_SL-Class_Coupe_2009',
 'Mercedes-Benz_Sprinter_Van_2012',
 'Mitsubishi_Lancer_Sedan_2012',
 'Nissan_240SX_Coupe_1998',
 'Nissan_Juke_Hatchback_2012',
 'Nissan_Leaf_Hatchback_2012',
 'Nissan_NV_Passenger_Van_2012',
 'Plymouth_Neon_Coupe_1999',
 'Porsche_Panamera_Sedan_2012',
 'Ram_C',
 'Rolls-Royce_Ghost_Sedan_2012',
 'Rolls-Royce_Phantom_Drophead_Coupe_Convertible_2012',
 'Rolls-Royce_Phantom_Sedan_2012',
 'Scion_xD_Hatchback_2012',
 'Spyker_C8_Convertible_2009',
 'Spyker_C8_Coupe_2009',
 'Suzuki_Aerio_Sedan_2007',
 'Suzuki_Kizashi_Sedan_2012',
 'Suzuki_SX4_Hatchback_2012',
 'Suzuki_SX4_Sedan_2012',
 'Tesla_Model_S_Sedan_2012',
 'Toyota_4Runner_SUV_2012',
 'Toyota_Camry_Sedan_2012',
 'Toyota_Corolla_Sedan_2012',
 'Toyota_Sequoia_SUV_2012',
 'Volkswagen_Beetle_Hatchback_2012',
 'Volkswagen_Golf_Hatchback_1991',
 'Volkswagen_Golf_Hatchback_2012',
 'Volvo_240_Sedan_1993',
 'Volvo_C30_Hatchback_2012',
 'Volvo_XC90_SUV_2007',
 'smart_fortwo_Convertible_2012']